In [1]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [2]:
ratings=pd.read_csv('C:/Users/Shikha Singh/Desktop/RecommendationSystem/ml-latest-small/ratings.csv',sep=',')

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies=pd.read_csv('C:/Users/Shikha Singh/Desktop/RecommendationSystem/ml-latest-small/movies.csv',sep=',')
movies.shape

(9742, 3)

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings=pd.merge(ratings,movies,on='movieId')
ratings.head()
#rating.describe()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [7]:
print(type(ratings))

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [9]:
ratingAvg=pd.DataFrame(ratings.groupby('title') ['rating'].mean())

In [10]:
ratingAvg.head()

                                         rating
title
'71 (2014)                                  4.0
'Hellboy': The Seeds of Creation (2004)     4.0
'Round Midnight (1986)                      3.5
'Salem's Lot (2004)                         5.0
'Til There Was You (1997)                   4.0

In [11]:
ratingAvg['count']=ratings.groupby('title') ['rating'].count()
ratingAvg.head()

                                         rating  count
title
'71 (2014)                                  4.0      1
'Hellboy': The Seeds of Creation (2004)     4.0      1
'Round Midnight (1986)                      3.5      2
'Salem's Lot (2004)                         5.0      1
'Til There Was You (1997)                   4.0      2

In [12]:
mlist=ratings.pivot_table(index='userId',columns='title',values='rating')

In [13]:
mlist.head(15)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
ratings.sort_values('rating',ascending=False)

,userId,movieId,rating,timestamp,title,genres
77065,42,4102,5.0,996258715,Eddie Murphy Raw (1987),Comedy|Documentary
31492,58,377,5.0,847718657,Speed (1994),Action|Romance|Thriller
31485,31,377,5.0,850467368,Speed (1994),Action|Romance|Thriller
14890,380,3033,5.0,1494803646,Spaceballs (1987),Comedy|Sci-Fi
74460,456,1393,5.0,856883540,Jerry Maguire (1996),Drama|Romance
47987,249,112556,5.0,1422171907,Gone Girl (2014),Drama|Thriller
14882,303,3033,5.0,1053303306,Spaceballs (1987),Comedy|Sci-Fi
74470,548,1393,5.0,1488825846,Jerry Maguire (1996),Drama|Romance
74478,594,1393,5.0,1109037039,Jerry Maguire (1996),Drama|Romance
74387,31,1361,5.0,850466810,Paradise Lost: The Child Murders at Robin Hood...,Documentary
14875,226,3033,5.0,1095663223,Spaceballs (1987),Comedy|Sci-Fi
31495,68,377,5.0,1158531516,Speed (1994),Action|Romance|Thriller
74486,269,74,5.0,850865586,Bed of Roses (1996),Drama|Romance
74487,337,74,5.0,860255992,Bed of Roses (1996),Drama|Romance
74494,32,194,5.0,856737270,Smoke (1995),Comedy|Drama
74497,74,194,5.0,1207499222,Smoke (1995),Comedy|Drama
47990,300,112556,5.0,1425351523,Gone Girl (2014),Drama|Thriller
47994,331,112556,5.0,1537157990,Gone Girl (2014),Drama|Thriller
74443,337,1393,5.0,860256043,Jerry Maguire (1996),Drama|Romance
47997,407,112556,5.0,1424349215,Gone Girl (2014),Drama|Thriller
74434,275,1393,5.0,1049078987,Jerry Maguire (1996),Drama|Romance
74430,224,1393,5.0,971812919,Jerry Maguire (1996),Drama|Romance
31478,6,377,5.0,845553317,Speed (1994),Action|Romance|Thriller
74423,198,1393,5.0,1034136733,Jerry Maguire (1996),Drama|Romance
74419,169,1393,5.0,1078284681,Jerry Maguire (1996),Drama|Romance
48003,495,112556,5.0,1458636540,Gone Girl (2014),Drama|Thriller
14913,1,3034,5.0,964982791,Robin Hood (1973),Adventure|Animation|Children|Comedy|Musical
14915,20,3034,5.0,1054038099,Robin Hood (1973),Adventure|Animation|Children|Comedy|Musical
74403,45,1393,5.0,950726330,Jerry Maguire (1996),Drama|Romance
48014,30,112852,5.0,1500370426,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi
...,...,...,...,...,...,...
55283,506,53125,0.5,1424486935,Pirates of the Caribbean: At World's End (2007),Action|Adventure|Comedy|Fantasy
42056,503,54286,0.5,1335219507,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller
59629,51,1499,0.5,1230930470,Anaconda (1997),Action|Adventure|Thriller
42032,308,54286,0.5,1421373781,"Bourne Ultimatum, The (2007)",Action|Crime|Thriller
97047,448,4471,0.5,1164622587,Arthur 2: On the Rocks (1988),Comedy|Romance
1758,461,260,0.5,1505935283,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
88188,543,213,0.5,1377069202,Burnt by the Sun (Utomlyonnye solntsem) (1994),Drama
16774,83,6874,0.5,1333842381,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
97074,328,165101,0.5,1494211391,Inferno (2016),Mystery|Thriller
29192,608,168,0.5,1117161738,First Knight (1995),Action|Drama|Romance
88176,503,94015,0.5,1335232826,Mirror Mirror (2012),Adventure|Comedy|Fantasy
88257,567,3742,0.5,1525289964,Battleship Potemkin (1925),Drama|War
14325,10,2959,0.5,1455356582,Fight Club (1999),Action|Crime|Drama|Thriller
34895,182,3354,0.5,1075859296,Mission to Mars (2000),Sci-Fi
88295,580,6643,0.5,1167790898,Tokyo Story (Tôkyô monogatari) (1953),Drama
80643,219,3593,0.5,1195944566,Battlefield Earth (2000),Action|Sci-Fi
84383,68,60363,0.5,1240092818,Zombie Strippers! (2008),Comedy|Horror
80639,68,3593,0.5,1269122274,Battlefield Earth (2000),Action|Sci-Fi
42189,489,60397,0.5,1333658164,Mamma Mia! (2008),Comedy|Musical|Romance
50777,295,1375,0.5,1320064357,Star Trek III: The Search for Spock (1984),Action|Adventure|Sci-Fi
59552,36,1485,0.5,1100803422,Liar Liar (1997),Comedy
42177,298,59421,0.5,1447517340,What Happens in Vegas... (2008),Comedy|Romance
34891,64,3354,0.5,1161565846,Mission to Mars (2000),Sci-Fi
84388,567,60514,0.5,1525289795,Journey to the Center of the Earth (2008),Action|Adventure|Sci-Fi
59566,153,1485,0.5,1525552506,Liar Liar (1997),Comedy
29267,365,180,0.5,1491088177,Mallrats (1995),Comedy|Romance
42146,365,56949,0.5,1488594780,27 Dresses (2008),Comedy|Romance
59582,287,1485,0.5,1110228283,Liar Liar (1997),Comedy
64957,160,3986,0.5,1065992767,"6th Day, The (2000)",Action|Sci-Fi|Thriller
85619,111,6952,0.5,1516141689,Gothika (2003),Horror|Thriller

In [14]:
watchedMovie=input('')

Air Force One (1997)

In [17]:
print(watchedMovie)

Air Force One (1997)

In [18]:
watchedMovieRating=mlist[watchedMovie]

In [19]:
print(watchedMovieRating)

userId
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     4.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     3.0
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     2.0
29     NaN
30     NaN
      ...
581    NaN
582    NaN
583    NaN
584    NaN
585    NaN
586    NaN
587    NaN
588    NaN
589    NaN
590    3.0
591    NaN
592    NaN
593    NaN
594    4.5
595    NaN
596    NaN
597    3.0
598    NaN
599    2.5
600    2.5
601    NaN
602    NaN
603    NaN
604    NaN
605    3.0
606    NaN
607    NaN
608    3.0
609    NaN
610    NaN
Name: Air Force One (1997), Length: 610, dtype: float64

In [20]:
similarMovie=mlist.corrwith(watchedMovieRating)

In [21]:
similarMovie.head(10)

title
'71 (2014)                                      NaN
'Hellboy': The Seeds of Creation (2004)         NaN
'Round Midnight (1986)                          NaN
'Salem's Lot (2004)                             NaN
'Til There Was You (1997)                       NaN
'Tis the Season for Love (2015)                 NaN
'burbs, The (1989)                         0.168459
'night Mother (1986)                            NaN
(500) Days of Summer (2009)                0.086874
*batteries not included (1987)            -0.866025
dtype: float64

In [22]:
answer=pd.DataFrame(similarMovie,columns=['correlations'])
answer.dropna(inplace=True)

In [23]:
answer

                                                    correlations
title
'burbs, The (1989)                                      0.168459
(500) Days of Summer (2009)                             0.086874
*batteries not included (1987)                         -0.866025
10 Cloverfield Lane (2016)                              0.192450
10 Items or Less (2006)                                -1.000000
10 Things I Hate About You (1999)                      -0.198731
10,000 BC (2008)                                        0.478612
101 Dalmatians (1996)                                   0.014306
101 Dalmatians (One Hundred and One Dalmatians)...      0.178516
102 Dalmatians (2000)                                  -1.000000
12 Angry Men (1957)                                    -0.610572
12 Years a Slave (2013)                                -1.000000
127 Hours (2010)                                        0.192450
13 Assassins (Jûsan-nin no shikaku) (2010)             -1.000000
13 Going on 30 (2004)                                  -0.601041
13th Warrior, The (1999)                               -0.015456
1408 (2007)                                             0.852978
15 Minutes (2001)                                       0.627495
16 Blocks (2006)                                        0.207514
17 Again (2009)                                         1.000000
187 (One Eight Seven) (1997)                            0.188982
1984 (Nineteen Eighty-Four) (1984)                      0.425024
2 Days in the Valley (1996)                             0.412082
2 Fast 2 Furious (Fast and the Furious 2, The) ...      0.271954
20 Dates (1998)                                        -0.188982
20,000 Leagues Under the Sea (1954)                     0.342997
200 Cigarettes (1999)                                   0.500000
2001: A Space Odyssey (1968)                           -0.126831
2010: The Year We Make Contact (1984)                   0.233204
2012 (2009)                                             0.264135
...                                                          ...
X-Men (2000)                                            0.128558
X-Men Origins: Wolverine (2009)                        -0.168430
X-Men: Apocalypse (2016)                                0.404226
X-Men: Days of Future Past (2014)                      -0.284089
X-Men: First Class (2011)                               0.361766
X-Men: The Last Stand (2006)                            0.030480
X2: X-Men United (2003)                                 0.540246
Yards, The (2000)                                       0.500000
Yellow Submarine (1968)                                 0.215166
Yes Man (2008)                                         -0.730798
Yojimbo (1961)                                          0.000000
You Can't Take It with You (1938)                      -1.000000
You Only Live Twice (1967)                              0.133631
You've Got Mail (1998)                                  0.386212
You, Me and Dupree (2006)                               0.500000
Young Frankenstein (1974)                              -0.196820
Young Guns (1988)                                       0.512276
Young Guns II (1990)                                    0.774597
Young Sherlock Holmes (1985)                            0.333333
Zack and Miri Make a Porno (2008)                      -0.072739
Zathura (2005)                                         -1.000000
Zelig (1983)                                            0.500000
Zero Dark Thirty (2012)                                 1.000000
Zero Effect (1998)                                      0.372104
Zodiac (2007)                                           0.137737
Zombieland (2009)                                       0.110916
Zoolander (2001)                                        0.303103
eXistenZ (1999)                                         0.129099
xXx (2002)                                             -0.188006
¡Three Amigos! (1986)                                  -0.187477

[3381 rows x 1 columns]

In [25]:
answer=answer.join(ratingAvg['count'])

In [26]:
answer.head()

                                correlations  count
title
'burbs, The (1989)                  0.168459     17
(500) Days of Summer (2009)         0.086874     42
*batteries not included (1987)     -0.866025      7
10 Cloverfield Lane (2016)          0.192450     14
10 Items or Less (2006)            -1.000000      3

In [28]:
answer[answer['count']>100].sort_values(by='correlations',ascending=False).head()

                                 correlations  count
title
Clear and Present Danger (1994)      0.698836    110
Net, The (1995)                      0.598322    112
Green Mile, The (1999)               0.574799    111
Firm, The (1993)                     0.561304    101
Departed, The (2006)                 0.543279    107